<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar sede</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="/inventario/lista">Inventario</a>
        <a class="navbar-brand" href="/marca/lista">Marcas</a>
        <a class="navbar-brand" href="/tipo/lista">Tipos de equipo</a>
        <a class="navbar-brand" href="/sede/lista">Sedes</a>
        <a class="navbar-brand" href="/trabajador/lista">Trabajadores</a>
    </div>
</nav>
<h2>Editar sede</h2>
<hr/>
<form method="post" th:action="@{/sede/actualizar}">
    <input th:value="${sede.id}" name="id" type="hidden"/>
    <div class="form-row">
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Nombre de la sede</label>
                <input th:value="${sede.nombreSede}" class="form-control" name="nombreSede" id="nombreSede" type="text">
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Dirección de la sede</label>
                <input th:value="${sede.direccion}" class="form-control" name="direccion" id="direccion" type="text">
            </div>
        </div>
    </div>
    <div class="form-group mt-4">
        <a th:href="@{/sede/lista}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>
<h2>Lista de trabajadores de la sede</h2>
<hr/>
<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>DNI Trabajador</th>
        <th>Correo trabajador</th>
        <th>Nombre trabajador</th>
        <th>Apellidos trabajador</th>
    </tr>
    <tr th:each="trabajador, info : ${trabajadorLista}">
        <td th:text="${info.index+1}"></td>
        <td th:text="${trabajador.id}"></td> <!-- DNI del trabajador -->
        <td th:text="${trabajador.correo}"></td>
        <td th:text="${trabajador.nombres}"></td>
        <td th:text="${trabajador.apellidos}"></td>
    </tr>
</table>
</body>
</html>