<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Inventario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" th:href="@{/inventario/lista}">Inventario</a>
        <a class="navbar-brand" th:href="@{/marca/lista}">Marcas</a>
        <a class="navbar-brand" th:href="@{/tipo/lista}">Tipos de Equipo</a>
        <a class="navbar-brand" th:href="@{/sede/lista}">Sedes</a>
        <a class="navbar-brand" th:href="@{/trabajador/lista}">Trabajadores</a>
    </div>
</nav>
<h2>Editar Inventario</h2>
<hr/>
<form method="post" th:action="@{'/inventario/guardar'}" th:object="${inventario}">
    <div class="form-row">
        <input class="form-control" th:field="*{id}" type="hidden">
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Nombre del inventario</label>
                <input class="form-control" th:field="*{nombre}">
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Numero de Serie</label>
                <input class="form-control" th:field="*{numeroserie}">
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Sede</label>
                <select th:field="*{idsede}" class="form-control">
                    <option th:each="sede: ${listaSedes}"
                            th:value="${sede.getId()}"
                            th:text="${sede.getNombreSede()}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Marca</label>
                <select th:field="*{idmarca}" class="form-control">
                    <option th:each="marca: ${listaMarcas}"
                            th:value="${marca.getId()}"
                            th:text="${marca.getNombre()}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Tipo de Equipo</label>
                <select th:field="*{idtipo}" class="form-control">
                    <option th:each="tipo: ${listaTipos}"
                            th:value="${tipo.getId()}"
                            th:text="${tipo.getNombre()}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <div class="form-group">
                <label class="small mb-1">Estado</label>
                <select th:field="*{estado}" class="form-control">
                    <option value="almacen">Almacen</option>
                    <option value="pedido">Pedido</option>
                    <option value="vendido">Vendido</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group mt-4">
        <a th:href="@{'/inventario/lista'}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary">Editar</button>
    </div>
</form>
</body>
</html>

